@media (min-width: 975px) {
    .short-text {
        display: none;
    }
    .long-text {
        display: inline;
    }
}

@media (min-width: 768px) {
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        width: auto;
        margin: 0;
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding: 0;
    }

    .navigation a,
    .navigation.open a {
        display: inline-block;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        position: relative;
        background-color: transparent;
    }

    .navigation a:hover,
    .navigation a.active,
    .navigation.open a:hover,
    .navigation.open a.active {
        font-weight: bold;
        color: var(--accent-green);
        background-color: transparent;
    }

    .navigation a.active::after,
    .navigation.open a.active::after {
        content: "";
        position: absolute;
        left: 15%;
        bottom: -2px;
        width: 70%;
        height: 4px;
        background-color: var(--accent-green);
        border-radius: 4px;
        display: block;
    }

    main.grid-view {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    main.list-view {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    #featured-members-container {
        grid-template-columns: repeat(3, 1fr);
    }

        footer {
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
        align-items: start;
    }

    .footer-social {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .footer-meta {
        border-top: none;
        padding-top: 0;
        text-align: center;
    }

    .footer-info{
        text-align: center;
    }

}
